@using ApprenticeshipWebApplication.DTO
@using ApprenticeshipWebApplication.Entities
@model UpdateAssignmentDTO
<div class="container-fluid">

<form method="post" action="/TeamLeader/UpdateAssignment" enctype="multipart/form-data">

    <input type="hidden" asp-for="assignmentId" />

    <div class="form-group">
        <label asp-for="assignmentTitle" ></label>
        <input asp-for="assignmentTitle" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="assignmentDescription"></label>
        <textarea asp-for="assignmentDescription" class="form-control" required></textarea>
    </div>

    <div class="form-group">
        <label asp-for="assignmentNotes"></label>
        <textarea asp-for="assignmentNotes" class="form-control"></textarea>
    </div>
    <label for="startDate">Start Date</label>
    <input asp-for="startDate" class="form-control" type="date" />
    <label for="endDate">End Date</label>
    <input asp-for="endDate" class="form-control" type="date" />

    <div class="form-group">
           <label for="objectiveIds">Select Objectives</label>
    <select name="objectiveIds" class="form-control" multiple>
            
            @foreach (var objective in (List<Objective>)ViewBag.objectives)
            {
                @if (Model.objectiveIds.Contains(objective.objectiveId))
                {
                    <option selected="selected" value="@objective.objectiveId">@objective.objectiveName</option>
                }
                else
                {
                    <option value="@objective.objectiveId">@objective.objectiveName</option>
                }
            }
     </select>
    </div>
    <h4>Attachments</h4>
    @foreach (var document in ViewBag.documents)
    {
        <div>
            <a href="/TeamLeader/GetDocument?documentId=@document.documentId">@document.documentName</a>
            <a class="btn btn-danger btn-sm" href="/TeamLeader/DeleteDocument?documentId=@document.documentId&assignmentId=@document.assignmentId&trainingId=@ViewBag.trainingId">Delete</a>
        </div>
    }
    <div class="form-group">
        <label for="formFiles">Select Files</label>
        <input type="file" id="formFiles" name="formFiles" multiple class="form-control" />

    </div>


    <button type="submit" class="btn btn-primary">update</button>
</form>
</div>